[2017-08-03 17:39] qgeissmann opened #1 "find_dam2_first_last_lines unittest fails in future R"
Only in r-devel, travis gives:
[code]

[2017-08-09 15:05] qgeissmann opened #2 "remove deps on dplyr"
if we use data.table (behavr), then no need to work woth tidyverse (except for readr)

[2017-08-22 09:59] qgeissmann opened #3 "id should be factor, not a character"
same issue as https://github.com/rethomics/scopr/issues/2

[2017-09-05 16:10] pepelisu opened #4 "query_dam2 dails when region_id is a character and not a integer."
I will suggest that query_dam2 should try to coerce the region_id to a integer, maybe using as.integer(). This will avoid this error:
[code]

[2017-09-05 16:11] qgeissmann commented on #4
I will work on that, thanks.
Can you send a reproducible example/traceback?
Cheers

[2017-09-05 16:14] pepelisu commented on #4
example:
[code]
I do not have traceback, the error was just that.

[2017-09-05 16:16] qgeissmann commented on #4
I see, so you have a character region id (`"1"` -> `1`)... will think about implications of auto coercion.

[2017-09-05 16:19] pepelisu commented on #4
I just did it like that because in the 'help' it says:
`region_id – the channel (between 1 and 32) in which the animal was in (e.g. "20"). `
I assumed that it has to be a character.

[2017-09-05 16:21] qgeissmann commented on #4
ahah, ok. we should fix that then ;)

[2017-09-06 08:08] pepelisu opened #5 "query_dam2 fails if datetime not exactly correct"
I am not sure this is an issue. But I will explain it here anyway.
If datatime string format for start or stop is not exact it fails. Let's for example take the string:
`2017-09-10 8:00:00` will fail because the hour is missing a preceding 0.
error:
[code]
In the other hand this string works `2017-09-10 08:00:00`.
Not sure if you use excel to create the query  this will happen or no.

[2017-09-06 08:33] qgeissmann commented on #5
this is an issue/feature in the `readr` package:
[code]
I will have a look at how it works for excel users.
Maybe we can have better Warnings/errors too.

[2017-09-08 19:11] qgeissmann opened #6 "start_date = "xxxx-xx-xx 00:00:00" fails"
It seems that time is discarded when set to 0, so we end up with NAs everywhere in the metadata... not nice.

[2017-09-11 08:51] qgeissmann commented on #5
maybe related to #6 () -> improve datetime parsing

[2017-09-11 10:27] #6 closed

[2017-09-11 10:31] qgeissmann commented on #4
changed the doc in "7f52d19922db38c9bcab76f754198e01dd8bb323"

[2017-09-11 10:31] #4 closed

[2017-09-11 10:36] qgeissmann opened #7 "experiment_id field is redundant"
I don't think we need the field `experiment_id` in metadata. all the information is already contained in other variables... and it makes things hard to read (see https://github.com/rethomics/scopr/issues/9).

[2017-09-11 10:38] #7 closed

[2017-09-11 14:00] qgeissmann commented on #5
I am going to say #wontfix here...
explicit `0` seems to be the convention: https://en.wikipedia.org/wiki/ISO_8601

[2017-09-11 14:00] #5 closed

[2017-09-26 16:07] pepelisu opened #8 "Help in link DAM2 metadata is describing the wrong data.frame structure"
Help document in link DAM2 metadata is not clear. Two structures for the metadata are described, one of them is the structure for ethoscopes.

[2017-09-26 16:08] #8 closed

[2017-10-12 14:34] pepelisu opened #9 "excel and csv's"
If a csv file is open with excel it automatically converts the datatime columns to data format, this will convert this columns into a number when is saved to csv again or in a format that is not working in the import.
This is not a bug, is just a heads up. This should be explained in the documentation.
If xlsx file is open and modified and saved like csv there is no problem, as far as the datetime

[2017-10-12 15:24] qgeissmann commented on #9
yes, it is a bit of a pain (see https://stackoverflow.com/questions/165042/stop-excel-from-automatically-converting-certain-text-values-to-dates). Will think about the best way around for general public...

[2017-11-27 12:31] qgeissmann opened #10 "stop_date should be inclusive"
[code]
should read all data, on `2017-07-01`, after `09:00:00`.
Instead, we get:
[code]
To reproduce, extract this file:
[Monitor11.zip](https://github.com/rethomics/damr/files/1505794/Monitor11.zip)

Thanks, @hanhanhankim for reporting the issue

[2017-11-27 12:41] qgeissmann opened #11 "cannot read file when first read is invalid"
In this file, the first read, at `07:59:00`, has status 51, therefore, it is invalid.
In addition, it comes after a long series of error 51 (machine disconnected).
The time difference between the first valid read and the previous (valid) one is >1h, which we interpret as an error. We need an exception for the first read.

[code]

gives:
[code]

[2017-11-27 12:46] qgeissmann commented on #11
[issue_11.txt](https://github.com/rethomics/damr/files/1505843/issue_11.txt)

[2017-11-27 14:27] #11 closed

[2017-11-27 14:49] #10 closed

[2017-11-27 15:38] #2 closed

[2017-11-28 12:58] #1 closed

[2018-01-25 12:50] pepelisu opened #12 "load_dam2 should accept zt0 as input."
To be consistent with scopr, some improvements are needed in damr package. One of this should be the parameter ZT0.

[2018-02-14 18:09] brelwill opened #13 "Reading in DAM5 data from DAMSystem3"
Attempting to use _rethomics_ package with DAM5 data recorded with DAMSystem v3.0.
Any ideas how to modify the code in order to load the raw DAM5 data properly? I'd like to avoid using the DAMFileScan but I'm not sure I understand how it's processing the raw data from this device.

DAM5M device data (4 IR beams) is not linking/loading properly with metadata files. Receiving odd error message:
Link

[2018-02-14 22:05] brelwill commented on #13
*update*
I've found that isolating rows containing "CT" in the DAM5M data transforms it into the DAM2 format, should be a fairly simple pre-processing step. Will update this when I figure it out.

[2018-02-15 08:43] qgeissmann commented on #13
hey @brelwill , great suggestion. thanks for providing a file as well!

So I guess we can go in two directions:
1. we read dam5 as dam2 data (should be a quick fix)
2. we actually as much as possible the data and define a "position" according to which beam was crossed...

I am going to start by trying to find the official documentation of the DAM5 files.
@pepelisu and @hanhanhankim do you have any

[2018-02-15 08:57] qgeissmann commented on #13
last page of http://www.trikinetics.com/Downloads/DAM5M%20Data%20Sheet.pdf seems helpful

[2018-02-15 16:41] brelwill commented on #13
@qgeissmann exactly!

1. is a super easy fix, it appears that isolating those rows is how the DAMFileScan actually provides us the save files.

2. the other rows C1-C4  (if you've applied the documentation from the data sheet) even shows us the individual beam crosses. Additionally, the dwell and position info can be isolated in the same fashion.
Just trying to figure out how the load_dam2 functio

[2018-02-15 16:46] qgeissmann commented on #13
I see, so, for now, we can just extract position as a variable and  CT.
This would give us two variable in our resulting `dt`: activity and position.
I will implement it in a way that detects the format automatically.
I think I can provide a draft tomorrow, would you then be able to test it?

[2018-02-15 16:50] brelwill commented on #13
Absolutely, that's perfect! Thanks so much!

[2018-02-16 10:38] qgeissmann commented on #13
So I updated the file and now it is a bit more ubiquitous/agnostic.
So we should be pretty much there, but we have no tests yet.

**I had to truncate the file you uploaded as the last line was imcomplete**

Then I run:

[code]

In the end I added all variables as it was inexpensive.
let me know how tests go ;),

[2018-02-16 19:50] brelwill commented on #13
It worked! So far so good! I still need to play around with it a bit to make sure, but I'll let you know if anything comes up!

[2018-03-07 16:37] brelwill opened #14 "Possible to use fread for load_dam?"
I'm just wondering if it's possible to modify load_dam to use the fread function? With large raw data files like the ones were using, it seems to only use one core when processing the data. Not sure if this is compatible with what you've written, but I thought it was worth an ask.

[2018-03-07 18:57] qgeissmann commented on #14
It is definitely possible and probably good. Indeed, we avoid dependency on `readr`.
At first, I implemented as much as possible using the resources from the tidyverse, mainly to learn. In the end, I reimplemented most of it in `data.table` for consistency. It would definitely be good to make a last push for it.  (https://github.com/rethomics/damr/blob/master/R/read-dam-file.R, line 47).
Are you c

[2018-03-31 17:19] #14 closed

[2018-03-31 17:20] qgeissmann commented on #14
@brelwill  finally got a bit of time to ake this commit. Let me know if it helps causes any unforeseen trouble

[2018-04-02 15:20] brelwill commented on #14
@qgeissmann thank you so much for doing this despite not having the profile! Hopefully this solves the issue!

[2018-05-02 18:11] qgeissmann opened #15 "unittest fail after data.table update"
[code]

We get:
[code]

[2018-05-02 18:52] #15 closed

[2018-10-24 09:19] estebanbeck commented on #3
Hi, a collaborator is having the same problem. But I don't get how to go around it. How do I need to save the monitor file? This is probably because the pass-through excel to process (crop) the data, right?

[2018-10-24 16:58] qgeissmann commented on #3
hi, can she/he send the code they are using/a sample file? cheers

[2018-11-07 18:48] brelwill opened #16 "load_dam duplicating reads?"
Using load_dam, one monitor file is loading with NAs and duplicate reads for a given timepoint, see attached files for examples. Nothing obviously wrong in the .txt file when viewing in notepad, excel, or reading into R with fread. Any ideas where this would be coming from?

[monitorfile_sample.txt](https://github.com/rethomics/damr/files/2558737/monitorfile_sample.txt)

[load_error_sample.txt](ht

[2018-11-07 19:14] qgeissmann commented on #16
thanks for reporting the issue! Any chance you can provide your metadata file, so I can reproduce it?

[2018-11-07 20:36] brelwill commented on #16
I included a larger chunk of the monitor file to include the beginning. Let me know what you find out!

[Monitor33a_truncated.txt](https://github.com/rethomics/damr/files/2559062/Monitor33a_truncated.txt)
[metadata_sample.xlsx](https://github.com/rethomics/damr/files/2559064/metadata_sample.xlsx)

[2018-11-26 15:16] NicoleStephens96 commented on #3
Could somebody please explain why this error occurs, and how to correct the problem. The first few times using Rethomics, I did not receive this error, but now I am even with the files that originally did not get the error

[2018-11-26 17:14] qgeissmann commented on #3
hi, I @NicoleStephens96  probably have time to look into it this week. Can you send as much detail as possible regarding your code and the errors you get (i.e. what line of code raises the error). Also, If you can send me your metadata file it could help me a lot :), thanks :)

[2018-11-26 20:06] NicoleStephens96 commented on #3
Hi Quinten,

I appreciate this. I’m not sure why I am receiving the following error when trying to load. This is the same error I received when trying to practice with the practice data.

Error in `[.data.table`(q, , .(regions = list(region_id)), by = c("path",  :
  column or expression 1 of 'by' or 'keyby' is type list. Do not quote column names. Usage: DT[,sum(colC),by=list(colA,month(colB))]

T

[2018-11-26 20:07] qgeissmann commented on #3
hey after which line of code do you get the error, also which practice file/tutorial are you using :)?
thanks

[2018-11-26 21:37] NicoleStephens96 commented on #3
I am getting this error after the
Dt<-load_dam(metadata) code. Also I used the data under DAM2 in practice “getting the data”

Thanks!
Nicole

Sent from my iPhone

[2018-11-28 10:58] pepelisu commented on #3
I think the error is coming from excel to csv conversion. When metadata is created in excel and the column region_id is interpreted as a integer (number) then in the csv is saved as a number. However rethomics function ```load_dam``` is expecting a character in that column. To solve the problem:
1. open the csv in excel
2. change the column format from number or general to text.
3. save the csv ag

[2018-11-30 18:22] qgeissmann commented on #3
Thanks @pepelisu!
To be honest I am struggling a bit with this thread. I cannot reproduce the bug (yet0. I don't think the `region_id` type is the issue. `region_id` **is expected to be an integer** all along (e.g. it is an integer in all the tests). In fact, linking will *not* work if region_id is a character. Therefore I would be surprised if this worked...  For me it looks more like a data.tabl

[2018-11-30 18:35] qgeissmann commented on #3
My understanding is that the path to the file that is generated during the linking is a list in your platform and a character in mine.
@NicoleStephens96, it would help **a lot** if you could run this for me:

[code]
and

[code]

[2018-11-30 18:43] NicoleStephens96 commented on #3
I figured out the problem last night on my end and maybe this can help anyone else getting the same error:)

I was looking for differences between the data I got working and data I could not get working. What I found was, for some reason, extra rows were added to the metadata that contained blanks and N/A.

---
94: Monitor6.txt 2018-11-10 00:00:00 2018-11-16 00:00:00          6        30   M   Sal

[2018-11-30 18:47] qgeissmann commented on #3
thanks, that really helps! (also you can use `metadata <- na.omit(metadata)`). So were they just empty rows, or just missing values?

[2018-11-30 18:52] NicoleStephens96 commented on #3
They were just empty added rows

[2018-11-30 18:54] qgeissmann commented on #3
so excel seems to keep gosh rows that are completely empty. I will add a check to remove all empty rows from metadata

[2018-11-30 18:56] qgeissmann commented on #3
@NicoleStephens96 can you upload an excel-generated csv with empty rows in the end for me -- so I can see how they are exactly? Thanks

[2018-12-20 14:14] BenjaminHouot opened #17 "Loading failure"
Hi,
Actually, I’m trying to run the package of rethomics under R without any success. I’m stuck in the loading step. For that I have used the data sets from both Geissmann et al. 2018 paper and DAM2 data tutorial. Also, I have generated my own metadata file and I got the same output. In the previous step everything look like normal but at the loading nothing is working.
Here the following error me

[2018-12-20 18:03] qgeissmann commented on #17
Hi,
thanks for reporting your troubles. Could you paste your whole code, including the "linking" step? This would help me to try to reproduce the issue :),

[2018-12-21 09:50] BenjaminHouot commented on #17
Here my script in R studio

library(devtools)
library(behavr)
library(damr)
library(ggetho)

DATA_DIR <- "C:/Users/Serafino/Desktop/Trial_V01"
setwd(DATA_DIR)
metadata <- fread("metadata.csv")
metadata
metadata <- link_dam_metadata(metadata, result_dir = DATA_DIR)
metadata
dt <- load_dam(metadata)

In my previous message I sent you my Xlsx file in order to show you how I made my metadata file with

[2018-12-22 13:04] jaspwn commented on #17
Your code and files work for me Benjamin (after I copied your .xlsx file to a .csv file). I am on a unix system so perhaps there is a file encoding problem when you are converting .xlsx to .csv?

[2019-01-03 14:03] BenjaminHouot commented on #17
Hi,
I have tried your txt file (after saving them into a csv.file) to run my script but I’m still stuck with loading step. When I open your txt file the text_editor_copied_metadata file contains all the information in one line and for excel_exported_metadata like this:
"file,start_datetime,stop_datetime,region_id,treatment,baseline_days"
"Monitor1.txt,2018-12-04 08:00:00,2018-12-09,1,control,1"
Fo

[2019-01-11 14:48] BenjaminHouot commented on #17
Hi,

I found out a way to run my script by just using my personal computer which is a Macbook Pro. The version I have is macOS Mojave (14.42.2). I saw a difference between my Mac and the PC in my lab is when I dowload the files from damr tutorial. On my Mac, the structure of metadata file is correct, I mean one variable for one column or with my PC there is only one column. Even when I create my o

[2019-01-13 16:53] jaspwn commented on #17
Hi Benjamin,

You are certainly experiencing some file encoding problems when using the windows version of excel? As previously mentioned you do not want each row in "quotation" marks and when you removed them your next error was probably caused by different end of line characters. These are invisibile characters that denote end of lines and windows uses both carriage returns (CR) and line feed (L

[2019-02-28 00:22] alvarovegahd opened #20 "load_dam failure: column or expression 1 of 'by' or 'keyby' is type list..."
I am following the tutorial and am receiving an error:

[code]

Everything works well until load_dam, which gives me this error:
[code]
What do you guys think I am doing wrong?

[2019-02-28 00:45] alvarovegahd commented on #20
Update: I had to do `dt <- load_dam(metadata_linked)` instead. Sorry guys. Nothing to see here.

[2019-02-28 00:45] #20 closed

[2019-02-28 02:06] qgeissmann commented on #20
No problem, glad you figured it out :+1:

[2019-03-22 17:46] lauraferg opened #21 "Can not cast an empty data.table"
Hi there,

I'm having an issue at the loading step `dt <- load_dam(metadata)`  (with my own data) where I get this error:

`Error in dcast.data.table(dt, id + t ~ data_type, value.var = "value") :
  Can not cast an empty data.table`

Any chance anyone has encountered this before? My code up until this point is:

[code]

and I've attached my metadata (copied from excel into a text editor) and DAM f

[2019-03-22 17:52] qgeissmann commented on #21
Hey, thanks for reporting your issue,
What is the output of (just to be sure it is not empty):
[code]
Do you manage to load another dataset?
Can you check you have data in the date range you are extracting
Also, by having a quick look, it seems that your data is sample every hour, is that normal?

[2019-03-22 18:06] lauraferg commented on #21
Hi - thanks for the quick reply!
the output definitely isn't empty - it spits back what is in the file:

[code]

I do have data in the range I'm extracting, and yep it should be every hour (this was an experiment that spanned three months). I realise that the file you're seeing looks like I'm just looking at one day, which is just the result of me trying to see if I could get any date range to wor

[2019-03-22 18:10] qgeissmann commented on #21
ok, it could be due to the hour sampling, which is a bit "exotic" :), if you still can't sort it out, I will try to reproduce it sometimes next week since you provided the data. In any case, let me know, I am sure we can find a solution!

[2019-03-22 18:11] lauraferg commented on #21
Okay thank you very much! It does look like the damr_tutorial data works fine; just my own that I can't get to load. I'll update if I get anywhere with it!

[2019-03-23 03:07] DenaFrancis commented on #9
I am having a similar issue with your tutorial. Everytime I try to link the dams data with the metadata file I get this error:

Warning: 1 parsing failure.
row col   expected               actual
  1  -- date like  1/7/2017  8:00:00 am

Error: 1 parsing failure

[2019-03-23 04:27] qgeissmann commented on #9
yes, maybe we should come up with a way to load excel files instead of csv (and fix excel tendency to try to be cleverer than the user...). for now, can you make it work by forcing the date column to be a string?

[2019-04-08 06:31] DenaFrancis opened #22 "Can't use NULL in colClasses when select or drop is used as well."
Hi,
This is my code and the error that I get:
#Check data is correctly loaded
list.files(DATA_DIR, pattern= "*.txt|*csv")

#set working directory
setwd(DATA_DIR)

#Load metadata
metadata <- fread("metadata.csv")

#remove # to check if metadata is loaded correctly
metadata

#connect metadata to raw data
metadata <- link_dam_metadata(metadata, result_dir = DATA_DIR)
metadata

#loading data
dt <- loa

[2019-04-08 17:12] lauraferg commented on #21
Hi there! I was wondering if by any chance you'd had time to try and reproduce the error I was encountering here. I haven't had any further luck in trying to resolve the issue on my end, unfortunately!
Thanks!

[2019-04-08 17:34] qgeissmann commented on #21
Hi, thanks for reminding me! So I had a quick look, and it is the problem that was fixed by  #19 actually. It is just not on CRAN yet. If you install damr from github (using devtools, see [here](https://rethomics.github.io/intro.html#devtools)), it should fix it. Meanwhile, I will push the nex version to cran and update the issue when accepted! Let me know if it works. sorry for the delay!

[2019-04-08 17:44] qgeissmann commented on #22
Hi Dena,
Thanks for reporting your issue. Any chance you could upload your metadata and results so I can try to reproduce the issue on my system? :).  Thanks for your feedback on the package too!

[2019-04-08 17:45] lauraferg commented on #21
No worries at all! Thanks so much for the quick reply and the help - I'll give that fix a try!

[2019-04-08 17:46] qgeissmann commented on #21
no worries, I sent the package to CRAN a minute ago, so it should be reviewed and available within hours/days.

[2019-04-08 22:20] DenaFrancis commented on #22
Hi Quinton,
Seems that the issue was with my computer because everything ran smoothly on my laptop? I will try to upload the metadata nontheless.
Thanks for your response!
Dena

[2019-04-09 15:50] #21 closed

[2019-05-08 14:21] SRutjens opened #23 "Load_dam Error"
Hi,
I am trying to load my data from the DAM system and I get the same error message as displayed by Benjamin in issue #17.
This is the error I get:
`data = load_dam(link_metadata)`

`Error in find_dam_first_last_lines(path, start_datetime, stop_datetime,  :
  No data in selected date range`

This is the script I am currently using:
[code]
I tested the software a couple of days earlier to test the

[2019-05-08 19:13] qgeissmann commented on #23
Hi there,
Thanks for the report! This is a very curious issue... I run your code on my machine, and I get data:

[code]

Gives me:
[code]

Can you anyone else reproduce this bug?

@SRutjens, can you try to read just one file: `damr:::read_dam_file(".../Monitor1.txt")`. Do you get data? If so, can you paste the metadata you get?  I suspect a time zone issue...?

[2019-05-08 21:23] brelwill commented on #23
I'm getting the same result as you @qgeissmann.
However, @SRutjens, it doesn't look like you're using the raw monitor file? You should be pulling data directly from the DAMSystem3Data folder for the most accurate counts.
Just a thought, I usually get this error because my stop_datetime is too far in the future. Not sure whether you're using a .csv to run this, but when I convert the file, the time

[2019-05-09 13:54] SRutjens commented on #23
Hi,
@qgeissmann When I run `damr:::read_dam_file(".../Monitor1.txt")` I get the same error:
 `Error in find_dam_first_last_lines(path, start_datetime, stop_datetime,  :
  No data in selected date range`

@brelwill That doesn't seem to be the case, because even when the range is set from 5/3/19 to 5/4/19 the same error persists

However when I tried the same code in rstudio.cloud as opposed to norm

[2019-05-24 12:22] jharv3y opened #24 "Parsing failure"
Hi,
Thanks for making such an amazing package! I seem to be having problems with the linking step.
I get the following error;

_Warning: 1 parsing failure.
row col   expected              actual
  1  -- date like  12-03-2019 15:51:00

Error: 1 parsing failure_

I know a similar post (2017) was made, however the issue with that was the date/time wasn't formatted as required and I cannot work out wh

[2019-05-24 12:31] jharv3y commented on #24
Bugger, just realised it was because it wasn't yyyy-mm-dd. Can't delete this, sorry!!

[2019-05-24 12:31] #24 closed

[2019-05-24 13:16] jharv3y opened #25 "load_dam column errors"
Hi, sorry to post again.
I'm having problems with the load_dam and would really really appreciate any thoughts on what the issue could be, I just cant work it out.

When I try to use load_dam I get the following error;

Error in fun(file, col.names = names(DAM5_COLS)[cols_to_keep], select = cols_to_keep) :
  Column number 8 (select[4]) is too large for this table, which only has 7 columns.

I have

[2019-05-27 18:00] qgeissmann commented on #25
Hi Jess,
Sorry for a late reply! Did you make any progress? If not, could you upload your metadata and data so we can try to reproduce your issue :)?
Cheers!
Q

[2019-05-27 18:17] jharv3y commented on #25
Ah no thank you so so much for taking the time to help!!! I'm sure it's an embarrassingly simple problem.
No luck yet, would really appreciate you taking a look.
Thanks so much again!
Jess
(I tried changing the metadata input to a .txt, as dates were being weird if saved in .csv, heres the code with the correct file name)

DATA_DIR <- "C:\\Users\\jlhc\\Documents\\R\\fitboks"
list.files(DATA_DIR, p

[2019-06-26 15:14] #23 closed

[2019-06-27 10:09] Georges-Farkouh commented on #17
Hi, I am having the same issue in the loading step :

[code]

I have tried to use MacOS High Sierra and Windows 10 and I am still getting the same problem, the DAM system data provided with the tutorial is working but the problem when I try to use my own data.
Here is an example of the R code and data text file that I am trying to analyse.

[code]
[MonitorCtM020.txt](https://github.com/rethomics/d

[2019-06-27 10:48] jaspwn commented on #17
Hi Georges,

Your code and file work fine on my system - Ubuntu 18.04.

If you view the example file that works and your one with hidden characters visible, do you see any differences?

Jason

[2019-06-27 11:55] Georges-Farkouh commented on #17
I have checked the hidden characters there are no differences, I made sure that text file is encoded as UTF-8 and Unix LF as ligne breaks (as the the tutorial file) but the error is still exist.

Georges

[2019-07-10 10:17] Georges-Farkouh commented on #17
Hello,

For update I was able to fix the problem by changing the system langue to English US (previously was set to French) and this will fix the problem (tested with MacOS and Linux Ubuntu 18.04)

[2019-07-10 16:57] qgeissmann commented on #17
Thanks so much for the update @Georges-Farkouh ! that gives us good insight on how to reproduce and fix the issue!

[2019-07-12 21:08] #17 closed

[2019-07-12 21:16] qgeissmann commented on #17
Thanks @BenjaminHouot, @Georges-Farkouh, @Wenfone  and @jaspwn for helping and reporting! In the end, is non-English installations of R failed to read the date (through `readr`). I will send the patched package to CRAN today!

[2019-07-14 10:35] Georges-Farkouh commented on #17
Thank you @qgeissmann for the quick identification of the origin of the issue and patching.

[2019-07-15 18:06] qgeissmann commented on #25
Hi @jharv3y, sorry for the late reply! It appears as though your data files are preprocessed already (i.e. they are showing the average activity per monitor instead of individual data). Did you use a tool to compute the average? damr will only take raw data file such as: https://github.com/rethomics/damr/blob/master/inst/extdata/M014.txt. I hope it helps!

[2019-07-15 18:06] #25 closed

[2019-10-02 15:46] chung-hui commented on #17
I have the same issue, but I try the all above way.
this is my script:
[Monitor5.txt](https://github.com/rethomics/damr/files/3681969/Monitor5.txt)
[Monitor6.txt](https://github.com/rethomics/damr/files/3681970/Monitor6.txt)

library(behavr)
DATA_DIR <- "C:/Users/moom6/Desktop/R_circadian/Data_txt_csv"
list.files(DATA_DIR, pattern= "*.txt|*.csv")
setwd(DATA_DIR)
getwd()
[Monitor5.txt](https://gith

[2019-12-11 02:16] pericles-pendragon opened #26 "Again "Error in find_dam_first_last_lines(path, start_datetime, stop_datetime"..."
Hello. If anyone can help...
I readed all issues with the same problem "Error in find_dam_first_last_lines(path, start_datetime, stop_datetime,  :
  No data in selected date range"
I changed the languaje to English US (someone find a solution in this way), I work in Ubuntu 18.04, only using the default text editor for make metadata.
Is there another solution.
The R path was:

[1] "metadata.csv"  "

[2019-12-11 04:46] qgeissmann commented on #26
Hi @pericles-pendragon, thanks for reporting your issue!
Firt of all, I can reproduce your issue, which is great. Secondly, I narrowed it down to the format of your DAM files. If you compare the ones I have been working with: https://github.com/rethomics/damr/blob/master/inst/extdata/M014.txt with yours, you will notice that the date entry is very different in your case, the format it actually mor

[2019-12-11 04:47] qgeissmann commented on #26
@pericles-pendragon Also, do you mind if I include one of your file /or segment of in the package as part of the test/samples?

[2019-12-11 14:25] pericles-pendragon commented on #26
Hello. Of course yo can use my files for testing.
Currently I can't access to the DAMS sofware (is in another campus). I changed the format, but another error emerges. The text editor is geany, and the ubuntu version is 18.04.3 LTS. Here is the pathway :

Loading required package: behavr
Loading required package: data.table
data.table 1.12.8 using 2 threads (see ?getDTthreads).  Latest news: r-dat

[2019-12-11 15:49] qgeissmann commented on #26
Hey! great. so in metadata, the format is always "YYYY-MM-DD". Wich, in my opinion, is the best. So it will work if you just use the original metadata :crossed_fingers:. the reason is that I designed the metadata mechanism, so picked a date format that makes sense, but my users provided me with files that had the DAMS date format. I did not expect anything else. It would be great to know why your

[2020-07-01 14:02] mrs98 opened #27 "Error in load_dam"
Hello! I succesfully completed the tutorial for this package, but am running into trouble at the load_dam command while trying to use my own data. I am hoping somebody can help, because I'm currently stumped:

[1] "metadata.csv" "Wheater Compiled.txt"

                                            id file_info      start_datetime stop_datetime region_id sex  bird name
1: 2020-06-04 06:00:00|Wheatear

[2020-07-01 15:57] qgeissmann commented on #27
Hi @mrs98, thanks for reporting your issue.

I had a look and, the name of the file in the metadata does not match `"Wheatear Compiled.txt"` in metadata vs `"Wheater.Compiled.txt"` in the file system.
It would make your life a lot easier if you did **not use space in filenames**, so i suggest changing the metatada entries to `"Wheater.Compiled.txt"` (rather than renaming the file). (note that you

[2020-07-01 16:03] qgeissmann commented on #27
so regarding not being able to find any data (after you fixed the first hurdle). your issue is similar to #26. this is because the format of DAM text file is inconsistent... I will update on #26. closing this issue

[2020-07-01 16:03] #27 closed

[2020-07-01 16:08] qgeissmann commented on #26
so it looks like the date field in the DAM files is actually all over the place. we have `2019-11-15`, `15-11-2019`, `15 Nov 2019`. This is annoying and fairly hard to guess reliably. Perhaps we should add a `date_format` argument to `read_dam_file`. So users can override the default

[2020-07-01 17:34] qgeissmann commented on #26
the next version of the package allows specifying the date format inside `load_dam`. closing. Not on CRAN yet, but can be installed through `devtools::install_github()` see (https://rethomics.github.io/intro.html#devtools)

[2020-07-01 17:34] #26 closed

[2020-07-01 17:34] #22 closed

[2020-08-09 12:15] IllustratedMan-code opened #29 "DAM loading works on windows 10 but not ubuntu 20.04"
When I run my code in windows everything works fine but when I try to run the same code in ubuntu (with directories changed accordingly) I get this error:
`Error in parse_datetime(stop_datetime, tz = tz) : Unexpected type for x`
It seems to have something to do with the as.character conversion but I don't really know. Any ideas?

[2020-08-09 12:35] IllustratedMan-code commented on #29
I just tested it with the toy data as well. I get the same error.

[2020-08-09 16:29] qgeissmann commented on #29
any chance you can actually put the code you are trying to run with the toy data?

[2020-08-09 16:55] IllustratedMan-code commented on #29
I did not even have the toy data downloaded when I got the error.

[2020-08-09 16:56] IllustratedMan-code commented on #29
And I kept the toy data and test code isolated in it's own folder

[2020-08-09 17:33] qgeissmann commented on #29
I mean, I cannot help unless you provide an example of code that does fail... ideally, somethine I can reproduce (e.g. with minimal data, or uding the package's data)

[2020-08-11 00:08] IllustratedMan-code commented on #29
`library(damr)
setwd("/home/david/Documents/R/damr_tutorial")
list.files()
m <- fread("metadata.csv")
metadata <- link_dam_metadata(m, result_dir = "/home/david/Documents/R/damr_tutorial")
data <- load_dam(metadata)

print(data)`
This is my test code with the sample data

[2020-08-11 00:16] qgeissmann commented on #29
And the error is on `load_dam()?`, or before on`link_dam_metadata()?` Are you just using the data from the [tutorial](https://rethomics.github.io/damr.html), or your own, or have you changed anything? Same question for the metadata.
what is the result of `print(m)` , if possible, what is the result of `print(metadata)`. thanks!

[2020-08-11 00:19] IllustratedMan-code commented on #29
The error is on load_dam(). This is just the data from the tutorial. I have not changed anything. I am going to go ahead and copy the results of print(m) and print(metadata)

[2020-08-11 00:20] IllustratedMan-code commented on #29
print(m):
              file      start_datetime stop_datetime region_id sex genotype replicate
  1: Monitor11.txt 2017-07-01 08:00:00    2017-07-04         1   M        A         1
  2: Monitor11.txt 2017-07-01 08:00:00    2017-07-04         2   M        A         1
  3: Monitor11.txt 2017-07-01 08:00:00    2017-07-04         3   M        A         1
  4: Monitor11.txt 2017-07-01 08:00:00    2017

[2020-08-11 00:21] IllustratedMan-code commented on #29
print(metadata):
             id file_info      start_datetime stop_datetime region_id sex genotype replicate
  1: 2017-07-01 08:00:00|Monitor11.txt|01 <list[2]> 2017-07             id file_info      start_datetime stop_datetime region_id sex genotype replicate
  1: 2017-07-01 08:00:00|Monitor11.txt|01 <list[2]> 2017-07-01 08:00:00    2017-07-04         1   M        A         1
  2: 2017-07-01 08:

[2020-08-11 00:21] IllustratedMan-code commented on #29
Sorry about the formatting, not the best githubber

[2020-08-11 00:36] IllustratedMan-code commented on #29
Here is the windows 10 code (that works). The only difference is the directory
[code]

[2020-08-11 00:46] qgeissmann commented on #29
can you print `str(metadata)`. So far, it looks like the time, in your metadata file is not the right format as expected...

[2020-08-11 00:56] IllustratedMan-code commented on #29
str(metadata):
[code]

[2020-08-11 01:42] qgeissmann commented on #29
can you try to explicitly convert your IDate to a POSIXct:

[code]

[2020-08-11 15:56] IllustratedMan-code commented on #29
So it works if I did your command as `metadata[ , stop_datetime :=  as.POSIXct(stop_datetime)]` rather than` metadata[ , stop_date :=  as.POSIXct(stop_datetime)]` The other way gave me the same error.

[2020-08-11 15:59] IllustratedMan-code commented on #29
Any idea why I have to make this conversion on linux but not windows?

[2020-08-11 15:59] qgeissmann commented on #29
a yes, sorry that was a typo on my side. so we have a patch for now...? and then I can force that to happen internally in your case...

[2020-08-11 16:01] IllustratedMan-code commented on #29
Yep. Everything seems to work after making the conversion.

[2020-08-11 18:36] #29 closed

[2020-08-11 18:37] qgeissmann commented on #29
marked as fixed, not yet on CRAN, but should work on the github version of the package as of today

[2020-10-06 17:58] mrs98 opened #31 "load_dam command causing R to crash"
I am having a problem where R Studio is suddenly crashing when I try to run a specific line of code with the error message "R Session Aborted, R encountered a fatal error. the session was terminated."

The code I am attempting to run is as follows:

library(ggetho)
library(zeitgebr)
library(damr)
library(behavr)
library(data.table)

DATA_DIR = ("C:/Users/Madalyn/Documents/Actographs by Treatment/O

[2020-10-07 11:25] qgeissmann commented on #31
Hey, sorry to hear that! before we start debugging that. have you tried that on R, not Rstudio? and have you tried on another machine? It looks like an R session issue somehow...

[2020-10-07 14:29] mrs98 commented on #31
Thanks so much for reaching out so quickly. I did try this in R and on another computer and still had the crash. After formatting my original data files a bit, I was able to get passed the "R Session Aborted" problem and have gotten a more useful error message:

Error in find_dam_first_last_lines(path, start_datetime, stop_datetime,  :
  Time has jumped for an hour or more!
          No valid data

[2020-10-08 07:27] qgeissmann commented on #31
The metadata is encoded in a weird format (UTF-16) and the date fields are formatted in an unconventional way e.g. `8/27/2020 6:00`. any chance you could update that/send a new csv? That would make it smoother for me :)

[2020-10-08 16:35] mrs98 commented on #31
Of course. This should be better. The site didn't seem to want to accept a
csv file before, and so I must have accidentally altered the formatting
while saving it as a txt.

On Thu, Oct 8, 2020 at 3:27 AM Quentin Geissmann <notifications@github.com>
wrote:

--
Pennsylvania State University
PhD Candidate: Ecology Program
Mrs98@psu.edu
Madalyn.rose94@gmail.com
215-687-9746

[2020-11-15 11:49] Maryl86 opened #32 "Error in parse_datetime(stop_datetime, tz = tz) : Unexpected type for x"
I am trying follow the code on this web page "https://rethomics.github.io/damr.html#zt0" using the example data, but when I try to use the "load_dam" function I am getting the folowin error:

dt <- load_dam(metadata)

Error in parse_datetime(stop_datetime, tz = tz) : Unexpected type for x
I want to know how to fix this problem

this is the code I used :

setwd(DATA_DIR)
 metadata <- fread("metadat

[2020-11-16 07:42] qgeissmann commented on #32
Hi @Maryl86, thanks for reporting your issue!
It looks like a duplicate of https://github.com/rethomics/damr/issues/29. I will try to update the package to CRAN today. meanwhile, can you try installing the github version?

[2020-11-16 09:19] qgeissmann commented on #32
our package on its way to CRAN. should be available in a few hours. let me know if this fixes your issue :crossed_fingers:

[2021-07-01 16:11] AniketPant02 opened #33 "Data.table error when loading custom data from DAM system"
Thank you for the wonderful package for DAM system analysis. In trying to analyze some custom data via code provided in the documentation's tutorials, I am having some issues with the `load_dam` function. Upon (seemingly) exactly replicating the tutorial data's formatting and structure in my own custom data, running my code results in the error,
```Error in `[.data.table`(q, , `:=`(path, sapply(fi

[2021-07-02 16:03] sarabnoya opened #34 "Using rethomics with the DAM5M system"
Hi,
I am a new user of the DAM5M system from trikkinetics and I wanted to know if there is someone that used rethomics to analyze the data from that system.
I gave a try and the activity plot makes sense in terms of what I expected however I would like to have some more details on how the raw data from dam is processed by damr.
Thank you!
Sara.

[2021-07-09 21:45] qgeissmann commented on #34
Hi @sarabnoya,
Yes, we do have some support. See #13 for detail. Maybe @brelwill has more practice now?
I hope it helps!

[2021-07-09 22:08] qgeissmann commented on #33
Hi @AniketPant02,
Yes, it looks like all the rows in your metadata are the same: the region_id should be the id of the tube, instead of `1` everywhere:

[code]
This now works for me. Can you confirm it does on your side?
In any case, damr should explicitly warn/error when rows are duplicated -- something to add to the todo list.

[2021-07-27 06:35] sannygirl11 opened #35 "load_dam error because of start_datetime"
Hello,

After I wrote the following code:
DATA_DIR <- "D:/.."
setwd(DATA_DIR)
metadata <- fread("Metadata.csv")
metadata <- link_dam_metadata(metadata, result_dir = DATA_DIR)
metadata
dt <- load_dam(metadata)

I got the error: Error in find_dam_first_last_lines(path, start_datetime, stop_datetime,  :
  No data in selected date range

Here my metadata:

   No.          file      start_datetime

[2021-07-27 19:26] qgeissmann commented on #35
Hello,

Yes, it implies that you are requesting data that does not exist in the files (`Monitor54.txt` and `Monitor43.txt`). I would go this way:

1. check that you do have data in both files between the dates requested (`start_datetime` and  `stop_datetime` )
2. try to simplify the problem. e.g. use the first row of metadata  `link_dam_metadata(metadata[1,], result_dir = DATA_DIR)`. If is works,

[2021-07-29 08:00] sannygirl11 commented on #35
I've found the mistake. My txt-file had the wrong formatting

[2021-07-29 17:06] qgeissmann commented on #35
great. good luck with the next steps!

[2021-07-29 17:06] #35 closed

[2021-08-24 14:40] katenevin21 opened #36 "Load_dam error help request"
Hi, I am trying to use the rethomics system for the first time to analyze my DAM data. I am having an issue when trying to load the data and I was wondering if someone could possibly point out where I am going wrong? My code results in the error,
`Error in find_dam_first_last_lines(path, start_datetime, stop_datetime,  :
  No data in selected date range`

**Here is my code attached below:**
librar

[2021-08-25 10:33] katenevin21 commented on #36
Never mind! I had written November as the 10th month in the metadata, instead of the 11th month.

[2021-08-25 10:33] #36 closed

[2021-09-07 14:28] katenevin21 opened #37 "Error in load_dam() function and request for help"
I am having issues with loading data into behavr tables with rethomics. I was wondering if someone could point me in the right direction to fixing my problem. When I try to load my data using the load_dam() function I get either of these two errors constantly:

  column or expression 1 of 'by' or 'keyby' is type list. Do not quote column names. Usage: DT[,sum(colC),by=list(colA,month(colB))]

**He

[2021-09-08 17:22] qgeissmann commented on #37
hi @katenevin21 ,

I was able to reproduce our issue.
The date format in your data files is `22-Jul-21` it should be `22 Jul 21`.
I really don't know  why the DAM software generates  very incosistent date formats.
Half of the issues here seem to result from that with that...
Can you try just replacing all `-` by ` ` in your files.
Let us know,

[2021-09-08 17:22] #32 closed

[2021-09-08 17:23] #33 closed

[2021-09-09 08:45] katenevin21 commented on #37
I replaced the - with spaces, but I am still getting the same error unfortunately.

**Here are the updated DAM files attached:**
[Monitor 22.txt](https://github.com/rethomics/damr/files/7134940/Monitor.22.txt)
[Monitor 23.txt](https://github.com/rethomics/damr/files/7134941/Monitor.23.txt)
[Monitor 21.txt](https://github.com/rethomics/damr/files/7134943/Monitor.21.txt)

Thank you for replying!

[2021-12-10 14:40] pepelisu commented on #37
I think the problem here is the "by". The line 52 in load_dam.R is calling the "by" method with a vector c("path"... the error says that this is not the right way to give a list to "by" and it should be by=.(path,....) or by=list(path,...) without quoting the column names.

[2021-12-10 14:44] qgeissmann commented on #37
do you think you could try a to send a PR @pepelisu ?

[2021-12-10 14:47] pepelisu commented on #37
As soon as I can test that it works, I can do it. But it will not happen before Monday.

[2022-06-15 14:40] jtengjia commented on #3
In my case, the problem is that the metadata has two exactly same lines. In normal condition the result should be like that using the tutorial data:
![image](https://user-images.githubusercontent.com/45839738/173853744-6aea9a56-22e2-43ad-b316-26229ea73d3c.png)
but when my metadata contains repeated lines it shows like this:
![image](https://user-images.githubusercontent.com/45839738/173854310-c735

[2022-08-19 16:58] ko222uky opened #40 "How to exclude first two days of the new regime (DD) from analysis?"
Hello,

I've worked through the tutorial with my own data, and everything went well.

Is there a simple way to exclude some of the first days in the new regime change?

Some key papers that I've read have excluded, for instance, the first two days in DD after transitioning from the LD to DD. This is to provide a period for the animals to acclimate. Trimming the data from the beginning and end of a

[2022-08-22 11:54] qgeissmann commented on #40
hello, I am not sure I understand completely. you can arbitrarily subset any part of the data and analyse/plot the resulting data tables. I don't suppose you want to analyse non-contiguous data (e.g. removing the middle of a dataset). In almost all cases, I would advise to analyse, say, the baseline and, say, the treatment separately and comparing the statistics afterwards. E.g. :
[code]

[2022-08-23 18:31] ko222uky commented on #40
Hello,

Thank you! And sorry, I realized that I had initially missed the line for subsetting the data, so my issue has been resolved.

[2022-08-23 18:44] #40 closed

[2022-09-14 22:05] zoelang30 commented on #9
Has this been solved or is there a work around?

I am getting the same error as @DenaFrancis
Warning: 1 parsing failure.
row col   expected                      actual
  1  -- date like  "=""04/07/2022" ="15:30:00"

Error: 1 parsing failure

Any help on this please :)

[2022-11-07 17:26] Thejaswinisuso1 opened #41 "Plotting Siesta"
Hello.
I was trying to plot siesta (daytime sleep) only from ZT4-ZT8 (the peaking time points). But using rethomics, we can only plot from ZT0-ZT12 since they sum all day of sleep for a single channel. So can you help me to write a script using which I can quantify sleep during ZT4-ZT8?
I appreciate any help you can provide.
Theja

[2022-11-08 12:41] qgeissmann commented on #41
Hi @Thejaswinisuso1,
If you want to quantify:

[code]
Note, you get siesta as a number between 0 and 1 , which is the proportion of time slept withing your selected time range (you can multiply that by 4h depending on how you want to express things)...
Does it make sense?
Regarding plotting, the easiest is to just show the time window you want from a larger plot:

[code]

[2022-11-08 14:16] Thejaswinisuso1 commented on #41
#instead of dt, I took dt_curated so that I could avoid dead flies

dt_curated[, zt := t %% behavr::hours(24)]

# mean Siesta ZT4-ZT8
dt[zt %in% behavr::hours(c(4, 8)) , .(siesta = mean(asleep)), by=key(dt)]

pl <- ggetho(dt, aes(y = asleep), time_wrap = hours(24)) +
  stat_pop_etho() +
  coord_cartesian(xlim= hours(c(4,8)))

summary_dt <-
  rejoin(dt_curated[xmv(genotype) %in% c(var.1) &

[2022-11-08 14:40] qgeissmann commented on #41
oops, i edited my code to use `%between%` instead of `%in%`. otherwise, your last plot does not apply `coord_cartesian(xlim= hours(c(4,8)))` I am unsure i understand

[2022-11-08 14:40] qgeissmann commented on #41
oops, i edited my code to use `%between%` instead of `%in%`. otherwise, your last plot does not apply `coord_cartesian(xlim= hours(c(4,8)))` I am unsure i understand

[2022-11-08 16:23] Thejaswinisuso1 commented on #41
[](url)
[metadata.csv](https://github.com/rethomics/damr/files/9963127/metadata.csv)
[Monitor77.txt](https://github.com/rethomics/damr/files/9963129/Monitor77.txt)
###############################################################################################################################################################

#Libraries
library(behavr)
library(usethis)
library(ggplot2)
library(damr)

[2022-11-08 16:48] Thejaswinisuso1 commented on #41
[metadata1.csv](https://github.com/rethomics/damr/files/9963189/metadata1.csv)
[Monitor77.txt](https://github.com/rethomics/damr/files/9963193/Monitor77.txt)

#Genotypes
var.1<-"CS"

###############################################################################################################################################################

#Find the place of the data

DATA_DIR <- "/Users/thejasw